In [1]:
import folium
import pandas as pd

In [2]:
## Country coordinates for plotting
country_geo = 'world_countries.json'

In [3]:
# Read in the World Development Indicators Database
data = pd.read_csv('DV_num_of_entries.csv')
data.shape

(213, 14)

In [4]:
data.head()

,Unnamed: 0,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,8_years_diff,%_increase,average
0,212,Grand Total,9769457,16511508,19672268,12577355,14633971,14418063,17573364,19344586,23088613,13319156,136.33,16398798
1,14,Bangladesh,834324,6497926,8562251,0,0,0,0,0,0,-834324,0.00,1766055
2,71,Ghana,523448,609924,774557,1056032,1217888,1729979,2231745,2199021,2227530,1704082,325.55,1396680
3,200,Ukraine,927470,1080091,1122086,1232306,1255129,1274758,1291999,1470250,1450487,523017,56.39,1233841
4,136,Nigeria,1570316,2144626,2005876,1975571,2390758,0,0,0,0,-1570316,0.00,1120794

In [5]:
country_codes = pd.read_csv('Country_codes.csv')
country_codes.shape

(236, 2)

In [6]:
data_1 = data[['Country','average']]
data_1.head()

       Country   average
0  Grand Total  16398798
1   Bangladesh   1766055
2        Ghana   1396680
3      Ukraine   1233841
4      Nigeria   1120794

In [7]:
data_to_plot = data_1.merge(country_codes, how = 'left', on = 'Country')
data_to_plot = data_to_plot[['average','CountryCode']]
with pd.option_context("display.max_rows", 1000):
    display(data_to_plot)

      average CountryCode
0    16398798         NaN
1     1766055         BGD
2     1396680         GHA
3     1233841         UKR
4     1120794         NGA
5     1045803         UZB
6      925024         NaN
7      840875         EGY
8      805622         ETH
9      721513         NPL
10     508631         SLE
11     345793         LBR
12     286438         KEN
13     264688         CMR
14     246178         TUR
15     242683         NaN
16     227063         SDN
17     193690         ALB
18     172883         MDA
19     167773         DZA
20     167519         MAR
21     162645         NaN
22     160295         KHM
23     148118         GIN
24     136828         ARM
25     115414         TGO
26     113432         NaN
27     102585         LKA
28     102033         CUB
29      99960         BLR
30      96705         DEU
31      91797         NaN
32      85966         YEM
33      79563         BGR
34      73252         BEN
35      64894         ROU
36      63266         GEO
37      54583         ZAF
38      54089         NaN
39      53018         FRA
40      51790         NaN
41      50336         JPN
42      50130         NaN
43      49612         AFG
44      45907         ERI
45      45150         JOR
46      44652         KAZ
47      44528         NaN
48      44456         IRQ
49      43703         ITA
50      43563         AZE
51      43308         SAU
52      41741         POL
53      40085         TJK
54      38852         SEN
55      35304         LBN
56      33767         UGA
57      32069         RWA
58      31480         SRB
59      29623         IDN
60      28546         KGZ
61      27122         MNG
62      25478         ISR
63      23777         SOM
64      23435         NaN
65      22076         ECU
66      21153         LTU
67      20489         ESP
68      20411         AUS
69      19969         BFA
70      19291         NaN
71      19045         KWT
72      18416         HUN
73      17771         PER
74      15541         ARE
75      13764         ARG
76      13669         MYS
77      13665         TUN
78      13186         TTO
79      12819         TKM
80      12568         HND
81      12239         FJI
82      12031         CHE
83      11776         BDI
84      11682         SWE
85      11534         ZWE
86      11434         NaN
87      10964         IRL
88      10574         THA
89      10355         NLD
90      10089         NER
91       9250         MLI
92       8742         GRC
93       8543         BIH
94       8445         AUT
95       8342         AGO
96       8050         BEL
97       7981         LVA
98       7684         BOL
99       7671         SVK
100      7662         CZE
101      6545         GTM
102      6205         NIC
103      6095         NZL
104      6073         CRI
105      6017         HRV
106      5950         NaN
107      5944         DJI
108      5791         SGP
109      5778         FIN
110      5672         CHL
111      5483         ZMB
112      5096         PRT
113      4738         DNK
114      4554         QAT
115      4441         TCD
116      4287         NaN
117      4089         GMB
118      3986         EST
119      3890         NOR
120      3622         GAB
121      3620         MDG
122      3568         BHS
123      3313         GUY
124      3256         MUS
125      2949         MRT
126      2540         BHR
127      2434         NaN
128      2400         ISL
129      2331         URY
130      2233         PAN
131      2039         MWI
132      2026         BTN
133      1778         MNE
134      1658         BRB
135      1621         CAF
136      1584         TON
137      1533         DMA
138      1524         CYP
139      1465         SVN
140      1452         NaN
141      1318         CPV
142      1194         OMN
143      1156         GRD
144      1125         PRY
145      1102         LCA
146      1085         BLZ
147      1029         NAM
148       977         SUR
149       929         BWA
150       762         MOZ
151       708         ABW
152       685         ATG
153       670         GNB
154       666         GNQ
155       575         PYF
156       571         NaN
157       541         COM
158       539         VCT
159       537         NaN
160       527         MLT
161       507         LUX
162       404         NaN
163       392         KNA
164       392         WSM
165       352         LSO
166       346         SWZ
167       337         MDV
168       309         ANT
169       307         PNG
170       270         NaN
171       262         SYC
172       224         NIU
173       192         GLP
174       188         NaN
175       184         NCL
176       172         AND
177       149         VUT
178       147         KIR
179       137         NRU
180       129         MTQ
181       128         NaN
182       120         MCO
183       105         COK
184        91         STP
185        84         TLS
186        78         SLB
187        74         LIE
188        73         NaN
189        72         NaN
190        66         GRL
191        60         NaN
192        58         NaN
193        51         GUF
194        47         MHL
195        47         ESH
196        36         PLW
197        32         TUV
198        28         SMR
199        26         FSM
200        25         NaN
201        24         NaN
202        24         NaN
203        24         NFK
204        20         NaN
205        18         TKL
206        17         NaN
207        13         NaN
208        10         NaN
209        10         MYT
210         0         NaN
211         0         NaN
212         0         BRA

In [8]:
data_to_plot['average'].value_counts(bins = 10)

(-16398.799, 1639879.8]     211
(14758918.2, 16398798.0]      1
(1639879.8, 3279759.6]        1
(13119038.4, 14758918.2]      0
(11479158.6, 13119038.4]      0
(9839278.8, 11479158.6]       0
(8199399.0, 9839278.8]        0
(6559519.2, 8199399.0]        0
(4919639.4, 6559519.2]        0
(3279759.6, 4919639.4]        0
Name: average, dtype: int64

In [9]:

map = folium.Map(location=[100, 0], zoom_start=1.5)

In [11]:
map.choropleth(geo_data=country_geo, data=data_to_plot,
             columns=['CountryCode', 'average'],
             key_on='feature.id',
             fill_color='PuBuGn', fill_opacity=0.7, line_opacity=0.2,
             
            )

C:\Users\Gulden\Anaconda3\lib\site-packages\folium\folium.py:415: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [12]:
country_geo = 'world_countries.json'

In [13]:
map.save('plot_data.html')

In [14]:
# Import the Folium interactive html file
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

C:\Users\Gulden\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")