In [1]:
import pandas as pd

In [2]:
# To read the csv data into Jupyter Notebooks
entrants_10_12 = pd.read_csv('number_of_entries_2010_2012.csv', header = None)
entrants_10_12.head()

,0,1,2,3,4,5,6,7,8,9
0,Afghanistan,"39,446","27,424","66,870","9,627","10,029","19,656","5,519","6,937","12,456"
1,Albania,"53,104","65,809","118,913","40,823","46,366","87,189","55,686","59,671","115,357"
2,Algeria,"68,052","22,652","90,704","66,404","21,600","88,004","85,568","26,513","112,081"
3,Andorra,276,55,331,79,26,105,129,39,168
4,Angola,883,934,"1,817","1,039","1,291","2,330","1,391","1,664","3,055"

![alt text](DV_table.png "DV_table")

Since the information we need is total number of entries for each year, they can be found at column 3,6 and 9.  We will drop the other columns since we will not use them.

In [3]:
# Read the csv data into Jupyter Notebooks
# Drop the column that we don't need
# Change the column names with years
entrants_10_12 = pd.read_csv('number_of_entries_2010_2012.csv', header = None)
entrants_10_12 = entrants_10_12.drop(entrants_10_12.columns[[1,2,4,5,7,8]], axis =1)
entrants_10_12.columns = ['Country', '2010', '2011', '2012']

entrants_13_15 = pd.read_csv('number_of_entries_2013_2015.csv' , header = None)
entrants_13_15 = entrants_13_15.drop(entrants_13_15.columns[[1,2,4,5,7,8]], axis =1)
entrants_13_15.columns = ['Country', '2013', '2014', '2015']

entrants_16_18 = pd.read_csv('number_of_entries_2016_2018.csv' , header = None)
entrants_16_18 = entrants_16_18.drop(entrants_16_18.columns[[1,2,4,5,7,8]], axis =1)
entrants_16_18.columns = ['Country', '2016', '2017', '2018']

In [4]:
# Combine all the tables to create one from 2010 to 2018
combined_1 = entrants_10_12.merge(entrants_13_15, how = 'left', on = 'Country')
combined = combined_1.merge(entrants_16_18, how = 'left', on = 'Country')
combined

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,"66,870","19,656","12,456","16,277","31,485","27,789","65,951","83,277","122,755"
1,Albania,"118,913","87,189","115,357","122,567","171,362","198,625","246,129","315,842","367,231"
2,Algeria,"90,704","88,004","112,081","128,189","127,872","163,091","204,433","252,733","342,857"
3,Andorra,331,105,168,147,144,134,186,166,175
4,Angola,"1,817","2,330","3,055","3,578","5,884","9,198","11,546","14,859","22,819"
5,Antigua and Barbuda,826,695,714,728,755,648,637,641,525
6,Argentina,"9,821","12,025","10,936","10,246","12,853","12,154","17,727","18,309","19,811"
7,Armenia,"62,051","72,876","92,352","97,679","113,681","131,088","168,115","226,545","267,067"
8,Aruba,"1,399",604,717,629,665,556,603,596,611
9,Australia,"12,772","15,509","17,163","18,117","21,621","20,579","24,888","26,704","26,353"
10,Austria,"7,991","8,164","8,139","8,258","8,832","7,990","8,658","9,069","8,905"
11,Azerbaijan,"16,319","19,741","22,576","25,440","27,434","29,321","54,193","72,993","124,051"
12,Bahamas,"2,624","3,793","3,717","3,356","3,657","3,585","4,263","3,581","3,541"
13,Bahrain,"2,146","2,883","3,774","1,804","2,083","1,996","2,506","2,664","3,012"
14,Bangladesh,"834,324","6,497,926","8,562,251",0,NaN,NaN,NaN,NaN,NaN
15,Barbados,"1,750","2,804","3,967","1,101","1,174",981,"1,084","1,077",991
16,Belarus,"62,097","65,641","70,881","97,706","97,747","100,443","98,767","135,224","171,134"
17,Belgium,"5,371","7,018","7,378","7,227","8,237","8,368","9,560","9,622","9,674"
18,Belize,935,"1,103","1,059","1,233","1,665",931,"1,175",737,930
19,Benin,"17,235","36,008","30,776","47,666","36,087","115,779","136,321","117,632","121,771"
20,Bhutan,752,764,890,953,"1,102","2,418","3,112","4,223","4,021"
21,Bolivia,"7,543","7,759","9,167","8,442","6,519","5,668","7,901","7,498","8,662"
22,Bosnia and Herzegovina,"3,637","4,478","5,946","6,094","10,356","12,044","10,450","12,348","11,538"
23,Botswana,824,"1,046",856,869,848,788,979,959,"1,195"
24,Brazil,0,0,0,0,NaN,NaN,NaN,NaN,NaN
25,Brunei,308,319,292,270,245,193,274,251,278
26,Bulgaria,"43,212","56,538","66,941","97,139","103,878","91,179","94,513","88,356","74,316"
27,Burkina Faso,"9,228","9,993","12,241","15,633","15,287","20,715","24,995","30,673","40,961"
28,Burma,"82,313","59,683","42,372","44,407","41,748","43,081","42,043","50,775","44,752"
29,Burundi,"3,516","3,774","4,280","6,356","7,731","10,375","21,886","20,966","27,108"
...,...,...,...,...,...,...,...,...,...,...
181,Sweden,"8,018","10,346","10,980","11,724","13,129","12,385","13,244","13,118","12,197"
182,Switzerland,"10,538","12,194","11,590","11,569","13,150","12,300","12,928","12,366","11,646"
183,Syria,"15,027","17,957","18,749","21,804","33,476","50,659","79,094","83,828","80,166"
184,Taiwan,"58,916","56,319","47,398","41,755","44,163","44,684","58,183","55,825","58,872"
185,Tajikistan,"9,542","12,679","18,917","24,489","28,762","34,672","39,194","70,339","122,178"
186,Tanzania,"9,463","10,385","10,075","12,011","10,870","10,918","11,924","13,085","14,176"
187,Thailand,"10,411","10,412","9,025","8,187","8,697","8,152","13,595","13,733","12,961"
188,Timor-Leste,44,74,82,66,72,75,85,86,179
189,Togo,"42,468","58,971","52,587","64,579","80,430","117,748","167,146","186,608","268,194"
190,Tokelau,0,0,0,29,18,10,31,42,37
191,Tonga,"1,692","1,802","1,470","1,626","1,344","1,449","1,702","1,489","1,685"
192,Trinidad and Tobago,"12,402","13,551","15,761","14,502","15,103","14,348","12,588","9,151","11,268"
193,Tunisia,"6,645","6,590","7,621","8,352","8,522","11,697","23,533","24,446","25,587"
194,Turkey,"146,677","181,578","176,711","228,009","259,320","254,660","245,493","316,226","406,929"
195,Turkmenistan,"5,711","6,738","9,212","9,886","11,632","11,966","12,959","17,609","29,666"
196,Tuvalu,25,25,23,31,41,35,66,17,26
197,Uganda,"19,957","22,062","24,851","27,702","30,022","37,506","41,512","46,327","53,967"
198,Ukraine,"927,470","1,080,091","1,122,086","1,232,306","1,255,129","1,274,758","1,291,999","1,470,250","1,450,487"
199,United Arab Emirates,"7,968","8,644","10,676","12,044","13,357","15,696","19,929","23,330","28,231"
200,Uruguay,"1,674","2,106","1,877","1,754","1,931","1,983","2,935","3,663","3,059"
201,Uzbekistan,"194,033","295,828","507,361","654,327","1,193,657","1,387,420","1,488,984","1,576,179","2,114,446"
202,Vanuatu,264,111,124,133,172,79,127,131,201
203,Vatican City,123,34,51,37,46,54,44,54,84
204,Venezuela,"38,314","71,665","85,412","94,835","116,198","124,533","258,921","313,128","360,799"
205,Wallis and Futuna,29,41,20,28,22,9,26,30,27
206,Western Sahara,28,35,33,0,56,42,67,82,85
207,Yemen,"15,479","17,886","21,606","28,039","40,962","76,063","136,398","172,742","264,519"
208,Zambia,"4,625","5,077","5,418","5,673","5,267","5,071","5,361","5,465","7,393"
209,Zimbabwe,"6,935","8,956","8,638","10,100","10,174","10,427","13,165","16,006","19,408"
210,Grand Total,"9,769,457","16,511,508","19,672,268","12,577,355","14,633,971","14,418,063","17,573,364","19,344,586","23,088,613"

In [5]:
# Normalize text
import re
def normalize_text(text):
    text = str(text)
    text = re.sub('[^A-Za-z0-9\s]', ' ', text)
    return text

def title_text(text):
    text = text.title()
    text = text.rstrip()
    return text

def normalize_value(text):
    text = re.sub('\s', '', text)
    try:
        value = int(text)
    except:
        value = 0
    return value

In [6]:
combined.iloc[:, 1:] = combined.iloc[:, 1:].applymap(normalize_text)
combined.iloc[:, 1:] = combined.iloc[:, 1:].applymap(normalize_value)
combined.iloc[:, 0] = combined.iloc[:, 0].apply(title_text)

In [7]:
# Calculate numbers of application difference between 2010 and 2018
combined['8_years_diff'] = combined['2018'] - combined['2010']

# Calculate the percentage of increase/decrease from 2010 to 2018 in the number of applications 
combined['%_increase'] = (combined[combined['2018'] > 0]['2018'] / combined[combined['2010'] > 0]['2010'] *100) - 100

# Drop null values
combined = combined.fillna(0)

# Calculate the average number of applications for every country
combined['average'] = round(combined.iloc[:,1:10].mean(axis = 1))
combined = combined.sort_values(['average'], ascending = False)
DV_num_of_entries = combined

In [8]:
DV_num_of_entries.to_csv('DV_num_of_entries.csv')

In [9]:
DV_num_of_entries.iloc[1:,:].sort_values('average', ascending = False)

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,8_years_diff,%_increase,average
14,Bangladesh,834324,6497926,8562251,0,0,0,0,0,0,-834324,0.000000,1766056.0
69,Ghana,523448,609924,774557,1056032,1217888,1729979,2231745,2199021,2227530,1704082,325.549434,1396680.0
198,Ukraine,927470,1080091,1122086,1232306,1255129,1274758,1291999,1470250,1450487,523017,56.391797,1233842.0
134,Nigeria,1570316,2144626,2005876,1975571,2390758,0,0,0,0,-1570316,0.000000,1120794.0
201,Uzbekistan,194033,295828,507361,654327,1193657,1387420,1488984,1576179,2114446,1920413,989.735251,1045804.0
83,Iran,470279,426505,547735,692410,1037354,932346,1203531,1390853,1624204,1153925,245.370301,925024.0
53,Egypt,642321,534375,780728,960279,847230,763701,849681,914817,1274751,632430,98.460116,840876.0
57,Ethiopia,745372,662658,785318,775763,753701,845474,780829,844959,1056532,311160,41.745598,805623.0
127,Nepal,356216,322758,397036,496410,613385,892961,1090880,1136622,1187350,831134,233.323040,721513.0
165,Sierra Leone,326452,441250,315741,233519,284205,511120,611983,841688,1011725,685273,209.915393,508631.0
100,Liberia,119229,110960,141749,142298,216249,358224,661631,674936,686869,567640,476.092226,345794.0
91,Kenya,223586,260734,304083,265474,222749,193641,304693,360023,442966,219380,98.118845,286439.0
31,Cameroon,189622,189752,203906,224509,224020,286564,303783,332778,427259,237637,125.321429,264688.0
194,Turkey,146677,181578,176711,228009,259320,254660,245493,316226,406929,260252,177.432045,246178.0
151,Russia,101324,140444,167600,218862,249670,265086,274746,332069,434353,333029,328.677312,242684.0
177,Sudan,70709,84746,96210,113595,129437,252748,340392,451423,504312,433603,613.221796,227064.0
1,Albania,118913,87189,115357,122567,171362,198625,246129,315842,367231,248318,208.823257,193691.0
119,Moldova,35638,56808,75886,108565,162661,193288,230058,252180,440863,405225,1137.058758,172883.0
2,Algeria,90704,88004,112081,128189,127872,163091,204433,252733,342857,252153,277.995458,167774.0
123,Morocco,143821,97506,110573,119443,115235,139008,201964,286421,293708,149887,104.217743,167520.0
204,Venezuela,38314,71665,85412,94835,116198,124533,258921,313128,360799,322485,841.689722,162645.0
30,Cambodia,66339,60862,72829,119138,120435,197383,251948,282123,271603,205264,309.416783,160296.0
75,Guinea,43579,48467,68856,88935,106172,163860,239506,250751,322943,279364,641.051883,148119.0
7,Armenia,62051,72876,92352,97679,113681,131088,168115,226545,267067,205016,330.399188,136828.0
189,Togo,42468,58971,52587,64579,80430,117748,167146,186608,268194,225726,531.520203,115415.0
39,"Congo, Democratic Republic Of\nThe",92133,138558,208775,229650,339196,12581,0,0,0,-92133,0.000000,113433.0
175,Sri Lanka,92219,84312,83772,102531,91261,107989,116673,104981,139527,47308,51.299624,102585.0
45,Cuba,23205,40490,32696,46744,56967,112998,362368,128271,114560,91355,393.686705,102033.0
16,Belarus,62097,65641,70881,97706,97747,100443,98767,135224,171134,109037,175.591413,99960.0
68,Germany,105561,106153,102375,94476,96299,92176,88931,91898,92484,-13077,-12.388098,96706.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Sint Maarten,0,0,0,168,204,176,211,187,210,210,0.000000,128.0
120,Monaco,112,100,98,85,116,110,129,156,174,62,55.357143,120.0
41,Cook Islands,20,20,30,32,67,149,164,190,274,254,1270.000000,105.0
160,Sao Tome And Principe,57,64,48,52,71,71,290,80,87,30,52.631579,91.0
188,Timor-Leste,44,74,82,66,72,75,85,86,179,135,306.818182,85.0
170,Solomon Islands,43,72,102,55,53,92,83,69,134,91,211.627907,78.0
102,Liechtenstein,45,58,82,77,78,83,81,102,66,21,46.666667,75.0
156,Saint Martin,0,0,0,74,38,109,166,143,125,125,0.000000,73.0
58,Faroe Islands,0,0,0,105,139,111,104,105,96,96,0.000000,73.0
71,Greenland,80,76,71,48,68,54,53,59,92,12,15.000000,67.0
149,Reunion,177,184,181,0,0,0,0,0,0,-177,0.000000,60.0
203,Vatican City,123,34,51,37,46,54,44,54,84,-39,-31.707317,59.0
62,French Guiana,132,185,149,0,0,0,0,0,0,-132,0.000000,52.0
206,Western Sahara,28,35,33,0,56,42,67,82,85,57,203.571429,48.0
113,Marshall Islands,11,285,33,54,18,22,0,0,0,-11,0.000000,47.0
141,Palau,72,65,66,33,40,48,0,0,0,-72,0.000000,36.0
196,Tuvalu,25,25,23,31,41,35,66,17,26,1,4.000000,32.0
159,San Marino,26,12,14,18,21,26,36,38,66,40,153.846154,29.0
118,"Micronesia, Federated States Of",31,31,40,43,43,47,0,0,0,-31,0.000000,26.0
205,Wallis And Futuna,29,41,20,28,22,9,26,30,27,-2,-6.896552,26.0
64,French Southern And Antarctic\nLands,31,22,29,37,52,45,0,0,0,-31,0.000000,24.0
176,St. Pierre And Miquelon,28,26,25,34,29,9,17,22,26,-2,-7.142857,24.0
136,Norfolk Island,0,0,0,0,78,49,34,39,18,18,0.000000,24.0
179,Svalbard,0,0,0,20,13,18,29,43,64,64,0.000000,21.0
190,Tokelau,0,0,0,29,18,10,31,42,37,37,0.000000,19.0
153,Saint Barthelemy,0,0,0,58,82,18,0,0,0,0,0.000000,18.0
36,Christmas Island,18,5,13,6,19,17,12,16,15,-3,-16.666667,13.0
117,Mayotte,0,0,0,16,36,23,18,0,0,0,0.000000,10.0
37,Cocos Islands,5,8,10,35,25,11,0,0,0,-5,0.000000,10.0
24,Brazil,0,0,0,0,0,0,0,0,0,0,0.000000,0.0

It seems like when we sort the countries by their average number of applications, first 5 countries have average of more than 1 million lottery application. And it seems like the U.S. stopped taking application from Bangladesh and Nigeria at some point. It may be because of the country quota that the U.S. had set. We can analyze it as number of application to population ratio in further steps.

If we look at the most bottom row, we see that the U.S. did not take any application from Brazil between the years of 2010 and 2018. 

After this point we will continue with analyzing the first 20 countries with the most average number of applications.

In [10]:
DV_num_of_entries.iloc[1:20].sort_values('average', ascending = False)

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,8_years_diff,%_increase,average
14,Bangladesh,834324,6497926,8562251,0,0,0,0,0,0,-834324,0.000000,1766056.0
69,Ghana,523448,609924,774557,1056032,1217888,1729979,2231745,2199021,2227530,1704082,325.549434,1396680.0
198,Ukraine,927470,1080091,1122086,1232306,1255129,1274758,1291999,1470250,1450487,523017,56.391797,1233842.0
134,Nigeria,1570316,2144626,2005876,1975571,2390758,0,0,0,0,-1570316,0.000000,1120794.0
201,Uzbekistan,194033,295828,507361,654327,1193657,1387420,1488984,1576179,2114446,1920413,989.735251,1045804.0
83,Iran,470279,426505,547735,692410,1037354,932346,1203531,1390853,1624204,1153925,245.370301,925024.0
53,Egypt,642321,534375,780728,960279,847230,763701,849681,914817,1274751,632430,98.460116,840876.0
57,Ethiopia,745372,662658,785318,775763,753701,845474,780829,844959,1056532,311160,41.745598,805623.0
127,Nepal,356216,322758,397036,496410,613385,892961,1090880,1136622,1187350,831134,233.323040,721513.0
165,Sierra Leone,326452,441250,315741,233519,284205,511120,611983,841688,1011725,685273,209.915393,508631.0
100,Liberia,119229,110960,141749,142298,216249,358224,661631,674936,686869,567640,476.092226,345794.0
91,Kenya,223586,260734,304083,265474,222749,193641,304693,360023,442966,219380,98.118845,286439.0
31,Cameroon,189622,189752,203906,224509,224020,286564,303783,332778,427259,237637,125.321429,264688.0
194,Turkey,146677,181578,176711,228009,259320,254660,245493,316226,406929,260252,177.432045,246178.0
151,Russia,101324,140444,167600,218862,249670,265086,274746,332069,434353,333029,328.677312,242684.0
177,Sudan,70709,84746,96210,113595,129437,252748,340392,451423,504312,433603,613.221796,227064.0
1,Albania,118913,87189,115357,122567,171362,198625,246129,315842,367231,248318,208.823257,193691.0
119,Moldova,35638,56808,75886,108565,162661,193288,230058,252180,440863,405225,1137.058758,172883.0
2,Algeria,90704,88004,112081,128189,127872,163091,204433,252733,342857,252153,277.995458,167774.0